<li class="treeview {% if request|isActiveRoute:'/users-dashboard' %} active {% endif %}">
    <a class="waves-effect waves-dark" href="{%  url 'users_dashboard' %}">
        <i class="ti-dashboard text-purple"></i><span> Dashboard</span>
    </a>

</li>
<li class="treeview {% if request|isActiveRoute:'/users-list,/users/add' %} active {% endif %}">
    <a class="waves-effect waves-dark" href="#">
        <i class="ti-user text-custom"></i><span> Users</span><i class="icon-arrow-down"></i>
    </a>
    <ul class="treeview-menu">
        <li><a class="waves-effect waves-dark" href="{% url 'users_listing' %}"><i class="icon-arrow-right"></i><span> Users</span></a></li>
        <li><a class="waves-effect waves-dark" href="{% url 'add_user' %}"><i class="icon-arrow-right"></i><span> Add User</span></a></li>
    </ul>
</li>

<li class="treeview {% if request|isActiveRoute:'/hospitals-listing,/hospitals/add' %} active {% endif %}">
    <a class="waves-effect waves-dark" href="#">
        <i class="ti-layout-list-post text-custom"></i><span> Hospital</span><i class="icon-arrow-down"></i>
    </a>
    <ul class="treeview-menu">
        <li><a class="waves-effect waves-dark" href="{% url 'hospitals-listing' %}" target=""><i class="icon-arrow-right"></i><span> Hospitals</span></a></li>
        <li><a class="waves-effect waves-dark" href="{% url 'add_hospitals' %}" target=""><i class="icon-arrow-right"></i><span> Add Hospital</span></a></li>
    </ul>
</li>

<li class="treeview {% if request|isActiveRoute:'/appointments-list,/appointment/add' %} active {% endif %}">
    <a class="waves-effect waves-dark" href="index.html">
        <i class="ti-receipt text-custom"></i><span> Appointments</span><i class="icon-arrow-down"></i>
    </a>
    <ul class="treeview-menu">
        <li><a class="waves-effect waves-dark" href="{% url 'appointments_schedule' %}" target=""><i
                class="icon-arrow-right"></i><span> Appointments</span></a></li>
        <li><a class="waves-effect waves-dark" href="{% url 'add_appointment' %}" target=""><i class="icon-arrow-right"></i><span> Add Appointment</span></a></li>
    </ul>
</li>
<li><a class="waves-effect waves-dark" href="{% url 'prescriptions_listing' %}" target=""><i class="ti-receipt text-custom"></i><span> Prescriptions </span></a></li>

<li><a href="#"><i class="ti-settings text-custom"></i><span> Setting</span></a> </li>

