<li><a class="waves-effect waves-dark" href="{% url 'appointments_schedule' %}" target=""><i
        class="icon-arrow-right"></i><span> Appointments</span></a></li>
<li><a class="waves-effect waves-dark" href="{% url 'add_prescriptionsfordoctor' %}" target=""><i class="ti-receipt text-custom"></i><span> Add Prescription</span></a></li>
<li><a class="waves-effect waves-dark" href="/users/profile/{{ request|getUser:'id'}}" target=""><i class="ti-user text-custom"></i><span> View Profile </span></a></li>


