{% load crispy_forms_tags %}
<div id="basic_info" class="tab-pane container active">
    <div class="card-block">
        <form method="POST" class="form" action="{% url app %}" enctype="multipart/form-data">
            <fieldset class="form-group">
                {% crispy form %}
                <div class="form-group">
                    {% if profile_form %}
                    <button class="btn btn-info save-basic next" type="submit">Next </button>
                    {% else %}
                    <button class="btn btn-info save-basic" type="submit">Save </button>
                    {% endif %}
                    <p class="text-danger" id="error"> </p>
                </div>
            </fieldset>
        </form>
    </div>
</div>