[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
djangorestframework = "*"
mysqlclient = {path = "./mysqlclient-1.4.2-cp36-cp36m-win32.whl"}
pygments = "*"
django = "==2.1.7"
djangorestframework-datatables = "*"
django-crispy-forms = "*"
requests = "*"
pillow = "*"
django-extra-fields = "*"
six = "*"
django-select2 = "*"

[requires]
python_version = "3.6"
