{% extends "users/base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <!-- Row Starts -->
    <div class="row">
        <div class="col-sm-12 p-0">
            <div class="main-header">
                <h4>Appointments</h4>
                <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                    <li class="breadcrumb-item"><a href="/"><i class="icofont icofont-home"></i></a>
                    </li>
                    <li class="breadcrumb-item"><a href="#!">Appointments</a>
                    </li>
                </ol>
                <div style="right: 15px;position: absolute;bottom: 12px;">
                    <a href="{% url 'appointments_schedule' %}"
                       class="btn btn-mini btn-primary waves-effect waves-light">Calendar View</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Row end -->

    <!-- Row Starts -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-header-text">Appointments List</h5></div>
                <div class="card-block">
                    <div class="table-responsive" data-pattern="priority-columns">
                        <table cellspacing="0" id="appointments"  class="datatable table table-small-font table-bordered table-striped">
                            <thead>
                            <tr>
                                <th data-priority="1">ID</th>
                                <th data-priority="2">Student</th>
                                {% if request|isDoctor %}
                                    <th data-priority="2">Refer By</th>
                                {% endif %}
                                {% if not request|isDoctor %}
                                     <th data-priority="6">Doctor</th>
                                     <th data-priority="2">Refer To</th>
                                {% endif %}
                                <th data-priority="6">Date Time</th>
                                <th data-priority="6">Disease</th>
                                <th data-priority="6">Notes</th>
                                {% if not request|isDoctor %}
                                    <!--<th data-priority="6">Status</th>-->
                                {% endif %}
                                <th data-priority="6">Action</th>
                            </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row end -->
</div>
{% endblock %}
{% block footer %}
<script>
    jQuery(document).ready(function($) {
        {% if not request|isDoctor %}
        var table = $('#appointments').DataTable({
            "serverSide": true,
            "responsive": true,
            "ajax":{
                url:"api/appointments?format=datatables",
                headers: { 'Authorization': 'Token {{request|getToken}}' },
                },
            "columns": [
                {"data": "id", "searchable": false},
                {"data": "student"},
                {"data": "doctor"},
                {
                    data: "refer_to_name",
                    render: function(data, type, row){
                        return  row.refer_to_name &&  row.refer_to_name != row.doctor ? row.refer_to_name : '';
                    }
                },
                {"data": "datetime"},
                {"data": "disease"},
                {"data": "notes"},
//                {
//                    data: "status",
//                    render: function ( data, type, row, meta ) {
//                        var status,StatusClass = '';
//                        if(row.status === true ){
//                            status = 'Active';
//                            StatusClass='btn-success';
//                        }else{
//                            status = 'In-Active';
//                            StatusClass='btn-danger';
//                        }
//                        return '<button class="tabledit-edit-button btn btn-mini waves-effect waves-light '+StatusClass+'">'+ status +'</button>';
//                    }
//                },
                {
                    data: "action",
                    render: function ( data, type, row, meta ) {
                        return '<a href="/appointments/'+row.id+'/" class="tabledit-edit-button btn btn-mini btn-primary waves-effect waves-light"><span class="icofont icofont-open-eye"></span></a>'+
                                '<a href="appointments/edit/'+row.id+'/"  class="tabledit-edit-button btn btn-mini btn-primary waves-effect waves-light"><span class="icofont icofont-ui-edit"></span></a>' +
                                '<a  href="api/appointments/'+row.id+'/"  class="tabledit-delete-button btn btn-mini btn-danger waves-effect waves-light"><span class="icofont icofont-ui-delete"></span></a>';
                    }
                },

            ],
        });
        {% else %}
        var table = $('#appointments').DataTable({
            "serverSide": true,
            "responsive": true,
            "ajax":{
                url:"api/appointments?format=datatables",
                headers: { 'Authorization': 'Token {{request|getToken}}' },
                },
            "columns": [
                {"data": "id", "searchable": false},
                {"data": "student"},

                {
                    data: "doctor",
                    render: function(data, type, row ){
                        return  row.doctor && row.doctor !=  "{{ request|getUser:'username' }}"  ? row.doctor : '';
                    }
                },
                {"data": "datetime"},
                {"data": "disease"},
                {"data": "notes"},
                {
                    data: "action",
                    render: function ( data, type, row, meta ) {
                        return '<a href="/appointments/'+row.id+'/" class="tabledit-edit-button btn btn-mini btn-primary waves-effect waves-light"><span class="icofont icofont-open-eye"></span></a>';
                    }
                },

            ],
        });
        {% endif %}
        searchOrderFn(table);

        $(document).on('click','.tabledit-delete-button',function(e){
            e.preventDefault();
            var url ='';
            url = $(this).attr("href");
            $.ajax({
                type:'DELETE',
                url:url,
                headers: { 'Authorization': "Token {{request|getToken}}",'Content-Type': 'application/json'},
                success:function(data){
                    table.draw(false);
                    $.toaster({ priority : 'success', title : 'Status', message : 'Appointment Deleted!'});
                }
            });
        })
    });
</script>

{% endblock %}